@import 'common';
@import 'header';
@import 'footer';


.hamburger {
  &.active {
    span:nth-of-type(1) { background-color: white; }

    span:nth-of-type(3) { background-color: white;}
  }
}
.drawer-menu {
 color: black;
 &.open {
  color: white;
}
}
.logo {
 color: black;
}
.hamburger { 
 span {
   background-color: black;
 }
}

// ツアー詳細ページのスタイル

.tp-container {
 width: 90%;
 margin: 0 auto;
 margin-top: 40px;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 @include responsive(tablet) {
    margin-top: 80px;
    background-color: white;
    // flex-direction: row;
    padding: 30px;
  }

 .tp-upper {
  display: flex;
  flex-direction: column;
  @include responsive(tablet) {
    flex-direction: row;
  }
 }

 .tp-title-text {
  order: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  @include responsive(tablet) {
    flex:1;
    padding: 0px;
    #tr-text {
      padding: 20px;
    }
  }
 }
 .tp-swiper {
  flex:1;
  order: -1;
  width: 100%;
  border-top-left-radius: 100px; // 左上の角を丸く
  border-top-right-radius: 20px; // 右上の角を丸く
  @include responsive(tablet) {
    order: 2;
  }
  .swiper-slide {

   img {
    width: 100%;
    object-fit: cover;
   }
  }
 }

 .tp-middle {
  .tp-access-map {
    background-color: white;
    text-align: center;
    height: 300px;
    padding: 30px;
    border-radius: 30px; 
  }
 }

 .tp-lower {
  .tp-guide {
    background-color: white;
    text-align: center;
    height: 300px;
    padding: 30px;
    border-radius: 30px; 
    margin-bottom: 20px;
  }
 }
}

.button1 {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 200px;
  a {
    text-align: center;
    background: linear-gradient(135deg, #ff8f66,#FF8C00);
    box-shadow: 5px 5px 0 #c36b00,;
    &:hover{
      background: linear-gradient(135deg, #FF8C00, #ff8f66);
      color: white;
    }
  }
}

